header{
    background-color: #f1d3b0;
    padding-top: 40px;
    position: relative;
    padding-bottom: 249px;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 156px;
}

.header-box{
    display: flex;
    gap: 40px;
}

.header-box-2{
    width: 447px;
    margin-left: 100px;
}
.header-logo{
    position: absolute;
    left: 550px;
    bottom: 564px;
    z-index: 5;
}

.header-link{
    color: #333;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.header-title{
    color: #000;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.header-text{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-bottom: 30px;
}

.header-buttom{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: all-small-caps;
    letter-spacing: 1px;display: inline-flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;border-radius: 100px;
    background: #0A775F;
    border: none;
}

.header-img-2{
    position: absolute;
    right: 0;
    bottom: 0;
}